footer {
    background: linear-gradient(135deg, #7209b7, #bb86fc);
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: auto;
  }
  
  /* Container for pages */
  .container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
  }

  /* Contact Section */
.contact-info p {
    font-size: 1.1rem;
    margin: 5px 0;
    color: #444;
  }
  
  .about-content {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .animated-image {
    width: 300px;
    height: auto;
    border-radius: 10px;
  }
  