/* Navbar Styling */
/* nav {
    background: linear-gradient(135deg, #6a11cb, #b400ff, #9c27b0);
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1rem;
  }
  
  nav a:hover {
    text-decoration: underline;
  } */

  nav {
    background: linear-gradient(135deg, #3a0ca3, #7209b7);
    padding: 15px;
    color: white;
  }
  
  nav a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 20px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  